/* Colors */
:root {
  --lightgray: #e0e0e0;
  --gray: #C0C0C0;
  --darkgray: #333;
  --navy: #484F5E;
  --blue: #082840;
  --white: #fff;
  --jitterblue: #4484CE;
  --color-neutral-muted: rgba(175, 184, 193, 0.2);
}

/* Global stylesheet */
* {
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, system-ui, sans-serif;
  color: var(--darkgray);
  background-color: var(--white);
}

p:last-child {
  margin-bottom: 0;
}

p,
.tmpl-post li,
img {
  max-width: 37.5em;
  /* 600px /16 */
}

p,
.tmpl-post li {
  line-height: 1.45;
}

a[href] {
  color: var(--jitterblue);
}

a[href]:hover {
  color: var(--navy);
}

main :first-child {
  margin-top: 0;
}

header {
  border-bottom: 1px dashed var(--lightgray);
}

header:after {
  content: "";
  display: table;
  clear: both;
}

/* table {
  margin: 1em 0;
}
table td,
table th {
  padding-right: 1em;
} */
table {
  padding: 0;
  border-collapse: collapse;
  text-align: center;
}

table tr {
  /* border-top: 1px solid #cccccc; */
  background-color: white;
  margin: 0;
  padding: 0;
}

table tr:nth-child(2n) {
  background-color: #f8f8f8;
}

table tr th {
  font-weight: bold;
  /* border: 0.5px solid #cccccc; */
  /* border-left: 0.5px solid #cccccc;
      border-right: 0.5px solid #cccccc; */
  background-color: #eefbff;
  font-size: 14px;
  margin: 0;
  padding: 0.4em 0.35em 0.4em 0.35em;
}

table tr td {
  /* border: 1px solid #cccccc; */
  margin: 0;
  font-size: 14px;
  padding: 5px 5px;
}

table tr th :first-child,
table tr td :first-child {
  margin-top: 0;
}

table tr th :last-child,
table tr td :last-child {
  margin-bottom: 0;
}


code {
  padding: .2em .4em;
  margin: 0;
  font-size: 85%;
  background-color: var(--color-neutral-muted);
  border-radius: 6px;
}

pre,
code {
  font-family: ui-monospace, SFMono-Regular, SF Mono, Menlo, Consolas, Liberation Mono, monospace;
  font-size: 12px;
  /* font-family: Consolas, Menlo, Monaco, "Andale Mono WT", "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L", "Courier New", Courier, monospace; */
  /* line-height: 1.5; */
}

pre {
  font-size: 14px;
  line-height: 1.375;
  direction: ltr;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  -moz-tab-size: 2;
  -o-tab-size: 2;
  tab-size: 2;
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
  padding: 1em;
  margin: .5em 0;
  background-color: #f6f6f6;
}

.highlight-line {
  display: block;
  padding: 0.125em 1em;
  text-decoration: none;
  /* override del, ins, mark defaults */
  color: inherit;
  /* override del, ins, mark defaults */
}

/* allow highlighting empty lines */
.highlight-line:empty:before {
  content: " ";
}

/* avoid double line breaks when using display: block; */
.highlight-line+br {
  display: none;
}

.highlight-line-isdir {
  color: #b0b0b0;
  background-color: #222;
}

.highlight-line-active {
  background-color: #444;
  background-color: hsla(0, 0%, 27%, .8);
}

.highlight-line-add {
  background-color: #45844b;
}

.highlight-line-remove {
  background-color: #902f2f;
}

/* Header */
.home {
  padding: 0 1rem;
  float: left;
  margin: 1rem 0;
  /* 16px /16 */
  font-size: 1em;
  /* 16px /16 */
}

.home :link:not(:hover) {
  text-decoration: none;
}

/* Nav */
.nav {
  padding: 0;
  list-style: none;
  float: left;
  margin-left: 1em;
}

.nav-item {
  display: inline-block;
  margin-right: 1em;
}

.nav-item a[href]:not(:hover) {
  text-decoration: none;
}

.nav-item-active {
  font-weight: 700;
  text-decoration: underline;
}

/* Posts list */
.postlist {
  list-style: none;
  padding: 0;
}

.postlist-item {
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
  counter-increment: start-from -1;
  line-height: 1.8;
}

.postlist-item:before {
  display: inline-block;
  pointer-events: none;
  content: "" counter(start-from, decimal-leading-zero) ". ";
  line-height: 100%;
  text-align: right;
}

.postlist-date,
.postlist-item:before {
  font-size: 0.8125em;
  /* 13px /16 */
  color: var(--darkgray);
}

.postlist-date {
  word-spacing: -0.5px;
}

.postlist-link {
  padding-left: .25em;
  padding-right: .25em;
  text-underline-position: from-font;
  text-underline-offset: 0;
  text-decoration-thickness: 1px;
}

.postlist-item-active .postlist-link {
  font-weight: bold;
}

.tmpl-home .postlist-link {
  font-size: 1.1875em;
  /* 19px /16 */
  font-weight: 700;
}


/* Tags */
.post-tag {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  font-size: 0.6875em;
  /* 11px /16 */
  padding: 0.09090909090909em 0.3636363636364em;
  /* 1px 4px /11 */
  margin-left: 0.8em;
  /* 8px /10 */
  color: var(--darkgray);
  border: 1px solid var(--gray);
  border-radius: 0.25em;
  /* 3px /12 */
  text-decoration: none;
  line-height: 1.8;
}

a[href].post-tag,
a[href].post-tag:visited {
  color: inherit;
}

a[href].post-tag:hover,
a[href].post-tag:focus {
  background-color: var(--lightgray);
}

.postlist-item>.post-tag {
  align-self: center;
}

/* Warning */
.warning {
  background-color: #ffc;
  padding: 1em 0.625em;
  /* 16px 10px /16 */
}

.warning ol:only-child {
  margin: 0;
}

/* Direct Links / Markdown Headers */
.direct-link {
  font-family: sans-serif;
  text-decoration: none;
  font-style: normal;
  margin-left: .1em;
}

a[href].direct-link,
a[href].direct-link:visited {
  color: transparent;
}

a[href].direct-link:focus,
a[href].direct-link:focus:visited,
:hover>a[href].direct-link,
:hover>a[href].direct-link:visited {
  color: #aaa;
}


.postlist .project-badge {

  margin: 0 10px;

}

.project-badge .project-label {
  padding: 4px;
  color: white;
  font-weight: 500;
  text-shadow: 0px 2px 1px rgba(0, 0, 0, 0.4);
  line-height: 20px;
  min-height: 28px;
  border-radius: 4px 0 0 4px;
  background: #484F5E;
}

.project-badge .project-code {

  padding: 4px;
  color: white;
  font-weight: 500;
  text-shadow: 0px 2px 1px rgba(0, 0, 0, 0.4);
  line-height: 20px;
  min-height: 28px;
  border-radius: 0 4px 4px 0;
  background: var(--jitterblue);
}

a[href].project-badge:hover .project-code,
a[href].project-badge:focus .project-code {
  background-color: #3466a0;
}


.post-header {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.post-header h2,
h3 {
  margin: 0 8px;
}

.metalabel {
  color: var(--gray);
}

.projectlog hr {
  border-top: 1px solid var(--gray);
}

.project-post {
  margin: 16px 0;
}

.postmetabar {
  display: flex;
  align-items: baseline;
}

.postmetabar img {
  margin-right: 8px;
}

.projectwrapper {
  display: flex;
  justify-content: center;
  background-color: var(--lightgray);
}

.projectpage {
  display: flex;
  justify-content: flex-start;
  padding: 10px;
  /* background-color: white; */

  max-width: 1100px;
}

.projectpage .postsinproject {
  flex: 1 0 auto;

  margin: 20px;
}

.projectpage .projectpagecontent {
  background-color: white;
  padding: 16px;
  max-width: 900px;

}


.post {
  display: flex;
}

.post .postcontent {
  background-color: white;
  padding: 16px;
  max-width: 1100px;
}

.toc {
  padding: 20px 0;
  background-color: white;
}

.toc ol li {
  margin: 16px;
}

h1.projectpageheader .metalabel {
  color: var(--jitterblue);
  /* background-color: var(--jitterblue);
  color: white;
  padding: 8px; */
}

.do-print {
  display: none;
}

h1:first-letter {
  text-transform: capitalize;
}

@media print {
  .no-print {
    display: none;
  }

  .do-print {
    display: inline;
  }

  .project-badge .project-label {
    color: #484F5E;
    text-shadow: none;
    border-radius: none;
    background: none;
  }

  .project-badge .project-code {
    color: var(--jitterblue);
    ;
    ;
    text-shadow: none;
    border-radius: none;
    background: none;
  }

  @page {
    size: auto;
    /* auto is the initial value */
    margin: 0;
    /* this affects the margin in the printer settings */
  }

  a {
    text-decoration: none;
  }
}