---
pagination:
  data: collections.projectList
  size: 1
  alias: projectcode
  addAllPagesToCollections: false
layout: layouts/home.njk
eleventyComputed:
  title: Project “{{ projectcode }}”
permalink: /project/{{ (""+projectcode) | slug }}/
---
<h1>Project “{{ projectcode }}”</h1>

{% set postslist = collections.projects[ projectcode ] %}

{% for post in postslist %}
<h2> {{ post.data.title }} </h2>
<div>Date: {{ post.date }}</div>
<div>tags: {{ post.data.tags | safe }}</div>
{{ post.templateContent | safe }}
{% endfor %}


{% include "postslist.njk" %}

<p>See <a href="{{ '/projects/' | url }}">all projects</a>.</p>
