---
pagination:
  data: collections.projectList
  size: 1
  alias: projectcode
  addAllPagesToCollections: false
layout: layouts/projects.njk
eleventyComputed:
  title: Project “{{ projectcode }}”
permalink: /project/{{ (""+projectcode) | slug }}/
---

{% set postslist = collections.projects[ projectcode ] %}

<div class="projectwrapper">

<div class="projectpage">

<div class="postsinproject">
{#
  <ol>
    {% for post in postslist %}

    <li>
    {{post.data.title}}
    </li>
    {% endfor %}

  </ol> #}

</div>

<div class="projectpagecontent">

<h1 class="projectpageheader"><span class="metalabel">Project</span> {{ projectcode }}

  {% if projectsmetadata[projectcode] %}
    {% set meta = projectsmetadata[projectcode] %}
  - {{ meta.name }}</a>
  {% endif %}</h1>

<img width="300px" src="/img/{{meta.clientlogo}}"/>

<div>
<span class="metalabel">Client:</span>
{{meta.client}}
</div>


<div>
<span class="metalabel">Duration:</span>
{{ meta.startdate }} - {{meta.enddate}}
</div>

<p>
<span class="metalabel">Description:</span>
{{meta.description}}
</p>


<h2>Project Log</h2>

<div class="projectlog">

  {% for post in postslist %}

  <div class="project-post">
    <div class="post-header">
      <time class="postlist-date" datetime="{{ post.date | htmlDateString }}">{{ post.date | readableDate }}</time>
      <h2> {{ post.data.title | filterdash }} </h2>
    </div>
    <hr>

    <div class="postmetabar">

      <img height="30px" width="30px" src="/img/meta/avatar_{{post.data.author}}.png" />
      {{post.data.author}} |
      {% for tag in post.data.tags | filterTagList %}
        {% set tagUrl %}/tags/{{ tag | slug }}/{% endset %}
        <a href="{{ tagUrl | url }}" class="post-tag">{{ tag }}</a>
      {% endfor %}
    </div>
    {{ post.templateContent | safe }}

  </div>

  {% endfor %}
</div>

{% include "postslist.njk" %}

<p>See <a href="{{ '/projects/' | url }}">all projects</a>.</p>

</div>

</div>

</div>