---
permalink: /projects/
layout: layouts/home.njk
eleventyNavigation:
  key: Projects
  order: 2
---
<h1>Projects</h1>

<ul>
{% for project in collections.projectList %}
  {% set projectUrl %}/project/{{ (""+project) | slug }}/{% endset %}
<li>

  <a href="{{ projectUrl | url }}"> {{project}}
  {% if projectsmetadata[project] %}
  - {{ projectsmetadata[project].name }}</a>
  - {{ projectsmetadata[project].description }}
  {% endif %}
</li>
{% endfor %}
<ul>
