---
layout: layouts/base.njk
templateClass: tmpl-post
---

<div class="post">

<aside class="toc no-print">
  {{ content | toc | safe }}
</aside>

<div class="postcontent">

<h1>{{ title | filterdash }}</h1>

<div style="margin: 16px 0">
{% if project %}
<a class="project-batch" href="/project/{{project}}"><span class="project-label">Project: </span> <span class="project-code">{{ project }} - {{ projectsmetadata[project].name }}</span></a>
{% endif %}
</div>

<time datetime="{{ page.date | htmlDateString }}">{{ page.date | readableDate }}</time>
{%- for tag in tags | filterTagList -%}
{%- set tagUrl %}/tags/{{ tag | slug }}/{% endset -%}
<a href="{{ tagUrl | url }}" class="post-tag">{{ tag }}</a>
{%- endfor %}

{{ content | safe }}

{%- set nextPost = collections.posts | getNextCollectionItem(page) %}
{%- set previousPost = collections.posts | getPreviousCollectionItem(page) %}
{%- if nextPost or previousPost %}
<hr>
<ul class="no-print">
  {%- if nextPost %}<li>Next: <a href="{{ nextPost.url | url }}">{{ nextPost.data.title | filterdash }}</a></li>{% endif %}
  {%- if previousPost %}<li>Previous: <a href="{{ previousPost.url | url }}">{{ previousPost.data.title | filterdash }}</a></li>{% endif %}
</ul>
{%- endif %}

</div>

</div>